{% extends 'MvContactBundle::layout.html.twig' %}

{% block mvcontact_content %}
    <div id="mvcontact_success" class="mvcontact_content">
        {{ 'form.contact.success'|trans({}, 'MvContactBundle')|nl2br }}
    </div>        
{% endblock %}